{% extends "form_base.html" %}
{% block formblock %}
{% from "_macros.html" import render_field, formheader %}
{{ formheader("Login") }}
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
	{{ login_user_form.hidden_tag() }}
	{{ render_field(login_user_form.email) }}
	{{ render_field(login_user_form.password) }}
	{{ render_field(login_user_form.remember) }}
	{{ render_field(login_user_form.next) }}
	{{ render_field(login_user_form.submit) }}
</form>
{% endblock formblock %}

{% block extra_navitems %}
  {% if security.registerable %}
	<a class="nav-item nav-link" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"><i class="fas fa-user-plus"></i> {{ _('Register') }}</a>
  {% endif %}
  {% if security.confirmable %}
	<a class="nav-item nav-link" href="{{ url_for_security('send_confirmation') }}"><i class="fas fa-share-square"></i> {{ _('Resend Confirmation') }}</a>
  {% endif %}
{% endblock extra_navitems %}

