/* fonts */
@font-face {
    font-family: 'cmu_typewriter_roman';
    src: url('/static/fonts/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_bold';
    src: url('/static/fonts/cmuntb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
