/* fonts */
@font-face {
    font-family: 'cmu_typewriter_roman';
    src: url('/static/fonts/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_bold';
    src: url('/static/fonts/cmuntb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_wide';
    src: url('/static/fonts/cmunvt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'cmu_typewriter_roman';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'cmu_typewriter_bold';
}
.navbar-brand {
    font-family: 'cmu_typewriter_wide';
}
.monospace {
    font-family: 'cmu_typewriter_wide';
}

/* add default width to icons */
i {
    width: 2.1rem;
    text-align: center;
}

/* spans the top of the page */
.bg-light {
    background-color: #e8ebef!important;
}

/* can be the entire page on basic form pages */
.formwidth {
    max-width: 700px;
}
.formbox {
    padding-top: 15px;
    padding-bottom: 15px;
}

.subtitle {
    font-size: 0.7em;
    font-style: italic;
}

/* The comp modern typerwriter fonts have extra spacing below
 * which distorts buttons a lot*/
.btn {
}

/* Use with icons as buttons */
.btn-icon {
    font-size: 1.0rem;
    padding-bottom: 0;
    line-height: 1.2;
}


/* Use to make file upload look better
<span class="btn btn-default btn-file">
Browse <input type="file">
</span>
http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
 */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* use to wrap entire card as a link */
a.card,
a.card:hover {
    color: inherit;
    text-decoration: none;
}

/* small text footer at the bottom of the page */
.footer {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

table.dataTable, th, td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse !important;
    text-align: left;
    vertical-align: middle !important;
    padding: 0.4rem;
    margin-bottom: 40px;
    font-size: 0.9em;
}
tr:nth-child(even)     { background-color:#e8ebef; }
tr:nth-child(odd)     { background-color:#fff; }

.dataframe td:nth-child(4)     { text-align:right; }
.dataframe td:nth-child(5)     { text-align:right; }
.dataframe td:nth-child(6)     { text-align:right; }

.statsbloc td:nth-child(3)     { text-align:right; }
.statsbloc td:nth-child(4)     { text-align:right; }
.statsbloc td:nth-child(5)     { text-align:right; }

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4 */
.toggle > .toggle-group {
    background: #e6e6e6;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color: #adadad;
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.toggle-and-or-col {
    flex: 0 0 70px;
}
