/* custom css defining layout container classes */

/* spans the top of the page */
.userbar {
    font-size: 0.7em;
    background-color: #7fb3d5;
    margin-right: 0px;
    margin-left: 0px;
}

/* can be the entire page on basic form pages */
.formbox {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 700px;
    background-color: #fff;
}

.subtitle {
    font-size: 0.7em;
    font-style: italic;
}

/* small text footer at the bottom of the page */
.footer {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

table, th, td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 8px;
    margin-bottom: 40px;
    font-size: 0.9em;
}
tr:nth-child(even)     { background-color:#eee; }
tr:nth-child(odd)     { background-color:#fff; }

.dataframe td:nth-child(4)     { text-align:right; }
.dataframe td:nth-child(5)     { text-align:right; }
.dataframe td:nth-child(6)     { text-align:right; }

.statsbloc td:nth-child(3)     { text-align:right; }
.statsbloc td:nth-child(4)     { text-align:right; }
.statsbloc td:nth-child(5)     { text-align:right; }
