/* fonts */
@font-face {
    font-family: 'cmu_typewriter_roman';
    src: url('/static/fonts/cmuntt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_bold';
    src: url('/static/fonts/cmuntb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_wide';
    src: url('/static/fonts/cmunvt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'cmu_typewriter_roman';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'cmu_typewriter_bold';
}
/* style nav dropdows */
.dropdown-menu {
    border-radius: 0rem;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.5);
}
.monospace {
    font-family: 'cmu_typewriter_wide';
}

/* link defaults */
a:hover {
    color: #343a40; /* gray-dark */
    text-decoration: none;
}
a:active {
    color: #343a40;
    text-decoration: none;
}

/* add default width to icons */
i {
    width: 2.1rem;
    text-align: center;
    line-height: 1rem;
}

.toggle-icon {
    width: 1.5rem;
    font-size: 1.25rem;
}

/* spans the top of the page */
.bg-light {
    background-color: #e8ebef!important;
}

/* can be the entire page on basic form pages */
.formwidth {
    max-width: 700px;
}
.formbox {
    padding-top: 15px;
    padding-bottom: 15px;
}

.subtitle {
    font-size: 0.7em;
    font-style: italic;
}

/* The comp modern typerwriter fonts have extra spacing below
 * which distorts buttons a lot*/
.btn {
}

/* Use with icons as buttons */
.btn-icon {
    font-size: 1.0rem;
    padding-bottom: 0;
    line-height: 1.2;
}

.gh-icon {
    font-size: 1.5rem;
    color: black;
}
.gh-link {
    color: gray;
    font-size: 1.2rem;
}

.form-ht-sm {
    height: calc(1.8125rem + 2px);
}
.form-ht {
    height: calc(2.25rem + 2px);
}
.form-ht-lg {
    height: calc(2.875rem + 2px);
}

.line-50 {
    line-height: 0.50rem;
}
.line-75 {
    line-height: 0.75rem;
}
.line-90 {
    line-height: 0.90rem;
}
.line-100 {
    line-height: 1.00rem;
}
.line-110 {
    line-height: 1.10rem;
}
.line-120 {
    line-height: 1.2rem;
}
.line-125 {
    line-height: 1.25rem;
}
.line-150 {
    line-height: 1.50rem;
}
.line-200 {
    line-height: 2.00rem;
}

/* These tag along with the close class which makes the best icon button.
 * Use with text-[danger|success|...] for more saturated colors */
.close-color {
    opacity: 0.85;
}
.close-color:not(:disabled):not(.disabled):focus, .close-color:not(:disabled):not(.disabled):hover {
    opacity: 1;
}
.close-btn-txt {
    font-size: 1.3rem;
}

/* Use to make file upload look better
<span class="btn btn-default btn-file">
Browse <input type="file">
</span>
http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
 */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* use to wrap entire card as a link */
a.card,
a.card:hover {
    color: inherit;
    text-decoration: none;
}

/* small text footer at the bottom of the page */
.footer {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

table.dataTable, th, td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse !important;
    text-align: left;
    vertical-align: middle !important;
    padding: 0.4rem;
    margin-bottom: 40px;
    font-size: 0.9em;
}
tr:nth-child(even)     { background-color:#e8ebef; }
tr:nth-child(odd)     { background-color:#fff; }

.dataframe td:nth-child(4)     { text-align:right; }
.dataframe td:nth-child(5)     { text-align:right; }
.dataframe td:nth-child(6)     { text-align:right; }

.statsbloc td:nth-child(3)     { text-align:right; }
.statsbloc td:nth-child(4)     { text-align:right; }
.statsbloc td:nth-child(5)     { text-align:right; }

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4 */
.toggle > .toggle-group {
    background: #e6e6e6;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color: #adadad;
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
.toggle-and-or-col {
    flex: 0 0 70px;
}
.search-btn-submit {
    flex: 0 0 35px;
}
