<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Mix Mind Live</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"></link>
    <!-- Bootstrap Toggle -->
    <!--link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"></link>
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->

      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

  </head>
  <body>

    <!-- Main form -->
    <div class="container">
      <div class="row" id="navigation">
        <div class="col"><a href="/">Home</a></div>
        <div class="col"><a href="/recipes/">Recipes</a></div>
        <div class="col"><a href="/ingredients/">Ingredients</a></div>
      </div>
      {% from "_formhelpers.html" import render_field %}
      <h2>Mix Mind Drink Recipes</h2>
      <form  id="menu-settings" action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
          <a href="#display-controls" data-toggle="collapse"><h3>Display Controls</h3></a>
          <div id="display-controls" class="collapse">
            <dl>
              {{ render_field(form.prices, data_toggle="collapse", data_target="#markup-div") }}
              <div id="markup-div" class="collapse">
                {{ render_field(form.markup) }}
              </div>
              {{ render_field(form.prep_line) }}
              {{ render_field(form.stats) }}
              {{ render_field(form.examples) }}
              {{ render_field(form.all_ingredients) }}
              {{ render_field(form.info) }}
              {{ render_field(form.origin) }}
              {{ render_field(form.variants) }}
              <label><input data-target="#convert-div" data-toggle="collapse" type="checkbox" value=""> Convert Primary Unit</input></label>
              <div id="convert-div" class="collapse">
                {{ render_field(form.convert) }}
              </div>
            </dl>
          </div>
        </div>

        <div class="form-group">
          <a href="#filtering-parameters" data-toggle="collapse"><h3>Filtering Parameters</h3></a>
          <div id="filtering-parameters" class="collapse">
            <dl>
              {{ render_field(form.all) }}
              {{ render_field(form.include) }}
              {{ render_field(form.exclude) }}
              {{ render_field(form.use_or) }}
              {{ render_field(form.style) }}
              {{ render_field(form.glass) }}
              {{ render_field(form.prep) }}
              {{ render_field(form.ice) }}
            </dl>
          </div>
        </div>

        <div class="form-group">
          <a href="#pdf-download" data-toggle="collapse"><h3>PDF Download Options</h3></a>
          <div id="pdf-download" class="collapse">
            <dl>
              {{ render_field(form.ncols) }}
              {{ render_field(form.align) }}
              {{ render_field(form.liquor_list) }}
              {{ render_field(form.liquor_list_own_page) }}
              {{ render_field(form.title) }}
              {{ render_field(form.tagline) }}
              {{ render_field(form.debug) }}
              <input type="submit" class="btn btn-success" target="_blank" name="download-menu" value="Download Custom Menu PDF!" formaction="/download/"></input>
            </dl>
          </div>
        </div>
        <input type="submit" name="apply-menu" class="btn btn-success" value="Apply"></input>
      </form>

      <!-- Show flashed messaged -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <br></br>

      {% for message in messages %}
      {% if "Error" not in message[1]: %}
      <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
      </div>
      {% endif %}

      {% if "Error" in message[1]: %}
      <div class="alert alert-warning">
        {{ message[1] }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}


      <!-- Result recipes -->
      {% if recipes %}
      <h3>Recipes</h3>
      <div class="row">
        {% for recipe in recipes %}
        {% if form.examples.data %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
          {% else %}
          <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
            {% endif %}
            {{ recipe | safe }}
          </div>
          {% endfor %}
        </div>
        {% endif %}


      </div> <!-- top level container -->

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
