<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Mix Mind Live</title>
    <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"></link>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap Toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"></link>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <meta name="viewport" content = "width=device-width, initial-scale=1.0"></meta>

  </head>
  <body>


    <!-- Main form -->
    <div class="container">
      {% from "_formhelpers.html" import render_field %}
      <h2>Mid Mind Drink Recipes</h2>
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
          <a href="#display-controls" data-toggle="collapse"><h3>Display Controls</h3></a>
          <div id="display-controls" class="collapse">
            <dl>
              {{ render_field(form.prices, data_toggle="collapse", data_target="#markup-div") }}
              <div id="markup-div" class="collapse">
                {{ render_field(form.markup) }}
              </div>
              {{ render_field(form.prep_line) }}
              {{ render_field(form.stats) }}
              {{ render_field(form.examples) }}
              {{ render_field(form.all_ingredients) }}
              {{ render_field(form.info) }}
              {{ render_field(form.origin) }}
              {{ render_field(form.variants) }}
              <label><input data-target="#convert-div" data-toggle="collapse" type="checkbox" value=""> Convert Primary Unit</input></label>
              <div id="convert-div" class="collapse">
                {{ render_field(form.convert) }}
              </div>
            </dl>
          </div>
        </div>
        <div class="form-group">
          <a href="#filtering-parameters" data-toggle="collapse"><h3>Filtering Parameters</h3></a>
          <div id="filtering-parameters" class="collapse">
            <dl>
              {{ render_field(form.all) }}
              {{ render_field(form.include) }}
              {{ render_field(form.exclude) }}
              {{ render_field(form.use_or) }}
              {{ render_field(form.style) }}
              {{ render_field(form.glass) }}
              {{ render_field(form.prep) }}
              {{ render_field(form.ice) }}
            </dl>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Apply</button>
      </form>

      <br></br>

      <div class="row">
        {{ drink }}
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

      {% for message in messages %}
      {% if "Error" not in message[1]: %}
      <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
      </div>
      {% endif %}

      {% if "Error" in message[1]: %}
      <div class="alert alert-warning">
        {{ message[1] }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}

    </div>
    </div>
    </div> <!-- end of the form div -->

    <!-- Result recipes -->
    <div class="container">
      {% if recipes %}
      <h3>Recipes</h3>
      {% for n in range(nrecipes) %}
        {% if n % 2 == 0 %}
        {% endif %}
          {{ recipes[n] | safe }}
        {% if n % 2 == 1 %}
        {% endif %}
      {% endfor %}
      {% endif %}
    </div>



  </body>
</html>
