<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
       <title>Reusable Form Demo</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <!-- jQuery library -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <!-- Latest compiled JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">

  {% from "_formhelpers.html" import render_field %}
  <h2>Flask Web Form</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <h3>Display Controls</h3>
      <dl>
        {{ render_field(form.prices, data_toggle="collapse", data_target="#markup-div") }}
        <div id="markup-div" class="collapse">
            {{ render_field(form.markup) }}
        </div>
        {{ render_field(form.prep_line) }}
        {{ render_field(form.stats) }}
        {{ render_field(form.examples) }}
        {{ render_field(form.all_ingredients) }}
        {{ render_field(form.ignore_info) }}
        {{ render_field(form.ignore_origin) }}
        {{ render_field(form.ignore_variants) }}
        <input data-target="#convert-div" data-toggle="collapse" type="checkbox"> Convert Primary Unit
          <div id="convert-div" class="collapse">
            {{ render_field(form.convert) }}
          </div>
      </dl>
      <br>
    </div>
    <div class="form-group">
      <h3>Filtering Parameters</h3>
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
      <br>
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
      <br>
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
    </div>
    <button type="submit" class="btn btn-success">Apply</button>
  </form>

  <br>

  <div class="row">
      {{ drink }}
  </div>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>
