<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% from "_helpers.html" import header, footer %}
{{ header("Schubar - Place Order ") }}

    <!-- Main form -->
    <div class="container">
      <h2>Place Order</h2>
      {% if show_form %}
      {% from "_formhelpers.html" import render_field %}
      <form  id="menu-settings" action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            {{ recipe | safe }}
            {{ render_field(form.notes) }}
        </div>
        <input type="submit" name="submit-order" class="btn btn-success" value="Submit Order"></input>
        <input type="submit" name="cancel-order" class="btn btn-danger" value="Cancel"></input>
      </form>
      {% endif %}

      <!-- Show flashed messaged -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <br></br>

      {% for message in messages %}
      {% if "Error" not in message[1]: %}
      <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
      </div>
      {% endif %}

      {% if "Error" in message[1]: %}
      <div class="alert alert-warning">
        {{ message[1] }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- return to main page -->
      {% if not show_form %}
      <div class="row" id="navigation">
        <form action="/select/">
          <div class="col"> <input type="submit" class="btn btn-primary" value="Back to Browse"></input> </div>
        </form>
      </div>
      {% endif %}

      </div> <!-- top level container -->
{{ footer() }}
