<!-- Format block for rendering blocks in a form -->
{% macro formheader(title, subtitle=None %}
<h2>{{ title }}</h2>
{% if subtitle %}
<p class=subtitle>{{ subtitle |e }}</p>
{% endif %}
{% import "_helpers.html" as helpers %}
{{ helpers.show_flashed() }}
{% endmacro %}

<!-- Renders indivdual filds in a from, given WTForm objects -->
{% macro render_field(field) %}
  {% if field.type != 'BooleanField' %}
  <dt>{{ field.label }} {% if field.flags.required %}*{% endif %}
  {% endif %}
  <dd>

  {% if field.type in ['BooleanField'] %}
  <label>
  {{ field(**kwargs)|safe }}
  <b>{{ field.label.text }}</b>
  </label>
  <em> {{ field.description }} </em>

  {% elif field.type in ['ToggleField'] %}
  <label class="btn btn-outline-primary">
    {{ field(**kwargs)|safe }}
    {{ field.label.text }}
  </label>
  {{ field(**kwargs)|safe }}
  {{ field.description }}

  {% else %}
  {{ field(**kwargs)|safe }}
  <em> {{ field.description }} </em>

  {% endif %}

  {% if field.errors %}
    <ul class=errors style="color:red">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
