<!-- Show flask flashed messages -->
{% macro show_flashed() %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ 'primary' if category == 'message' else category }} alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
{% endmacro %}

<!-- Format block for rendering blocks in a form -->
{% macro formheader(title, subtitle=None) %}
<h2>{{ title|safe }}</h2>
{% if subtitle %}
<p class=subtitle>{{ subtitle |safe }}</p>
{% endif %}
{{ show_flashed() }}
{% endmacro %}

<!-- Renders indivdual filds in a from, given WTForm objects -->
{% macro render_field(field) %}
	{% if field.type not in ['BooleanField', 'HiddenField', 'SubmitField'] %}
	<dt>{{ field.label }} {% if field.flags.required %}*{% endif %}
	{% endif %}
	<dd>

	{% if field.type in ['BooleanField'] %}
	<label>
	{{ field(**kwargs)|safe }}
	<b>{{ field.label.text }}</b>
	</label>
	<em> {{ field.description }} </em>

	{% elif field.type in ['ToggleField'] %}
	<label class="btn btn-outline-primary">
		{{ field(**kwargs)|safe }}
		{{ field.label.text }}
	</label>
	{{ field(**kwargs)|safe }}
	{{ field.description }}

	{% elif field.type in ['SubmitField'] %}
	{{ field(class_="btn btn-primary", **kwargs)|safe }}

	{% elif field.type in ['HiddenField'] %}
	{{ field(**kwargs)|safe }}

	{% else %}
	{{ field(**kwargs)|safe }}
	<em> {{ field.description }} </em>

	{% endif %}

	{% if field.errors %}
		<ul class=errors style="color:red">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</dd>
{% endmacro %}
