{# macros for app templates #}
<!-- Show flask flashed messages -->
{% macro show_flashed() %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ 'primary' if category == 'message' else category }} alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
{% endmacro %}

<!-- Format block for rendering blocks in a form -->
{% macro formheader(title, subtitle=None) %}
<h2>{{ title|safe }}</h2>
{% if subtitle %}
<p class=subtitle>{{ subtitle |safe }}</p>
{% endif %}
{{ show_flashed() }}
{% endmacro %}

<!-- Renders indivdual filds in a from, given WTForm objects -->
{% macro render_field(field) %}
	{% if field.type in ['BooleanField', 'SelectField'] %}
	<div class="form-check">
	{% else %}
	<div class="form-group">
	{% endif %}

	{% if field.type not in ['SubmitField'] %}
		{% if field.type in ['BooleanField', 'SelectField'] %}
		<label class="form-check-label" for="{{ field.id }}">
		{% else %}
		<label class="form-label" for="{{ field.id }}">
		{% endif %}
			{{ field.label.text }}{% if field.flags.required %}*{% endif %}
		</label>
	{% endif %}
	{# bootstrap form classes: can expand to custom forms in the future (alternative, check widget) #}
	{% set bs_classes = { 'BooleanField': "form-check-input",
								'SelectField': "form-check-input",
								'SubmitField': "btn btn-primary" } %}
	{{ field(class_=bs_classes.get(field.type, "form-control"), **kwargs)|safe }}
	{% if field.description and field.type not in ['HiddenField'] %}
	<small id="{{ field.id }}_help" class="form-text text-muted">{{ field.description }}</small>
	{% endif %}

	{# TODO this with bootstrap form validation #}
	{% if field.errors %}
		<ul class=errors style="color:red">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
</div>
{% endmacro %}
