{% extends "base.html" %}
{% from "_macros.html" import formheader, render_field %}
{% block title %}{{ super() }} {{ g.current_bar.name }}{% endblock title %}

{% block body %}
<div class="container my-3">
	<div class="row">
		{% block formdiv %}
		{# heading column #}
		<div class="col-md-3">
			{{ formheader("Browse Menu", subtitle=g.current_bar.tagline) }}
		</div>
		{# filters column #}
		<div class="col-md-9 mt-3">
			<form id="filter-recipes" class="w-100" action="" method="post" role="form">
				<div class="row">
					{{ form.csrf }}
					{# ghost button, ensures we always apply filters on 'ENTER' #}
					<input type="submit" name="apply-menu" class="d-none" value="Apply"></input>

					{# Omni-search bar, now with integrated search/clear butons #}
					<div class="col-md">
						<div class="form-row no-gutters">
							{{ render_field(form.search, form_group_classes="col search-box", placeholder="Search...") }}
							<div class="form-group search-btn-submit">
								<button type="submit" id="search-btn" name="apply-menu" class="close form-control pt-1" value=""><i class="fas fa-search"></i></button>
							</div>
							<div class="form-group search-btn-submit">
								<button type="button" onclick="document.location.href='/'" id="clear-search-btn" name="clear-menu" class="close form-control pt-1" value=""><i class="fas fa-times"></i></button>
							</div>
						</div>
					</div>

					{# sorting and filtering buttons #}
					<div class="col-md-auto mt-2" style="width:24rem;">
						<div class="row no-gutters mb-3">
							<div class="col-auto mr-auto">
								<button type="button" class="btn close" data-target="#sort-expand" data-toggle="collapse">
									<i class="fas fa-sort-amount-down"></i><span class="close-btn-txt">Sort</span>
								</button>
							</div>
							<div class="col-auto mr-auto">
								<button type="button" class="btn close" data-target="#filter-expand" data-toggle="collapse">
									<i class="fas fa-filter"></i><span class="close-btn-txt">Filter</span>
								</button>
							</div>
							<div class="col-auto">
								<button type="submit" name="surprise-menu" class="close close-color text-success"><i class="fas fa-random text-success"></i><span class="close-btn-txt">Surprise Me</span></button>
							</div>
						</div>
					</div>
				</div>

				{# sorting dropdown #}
				<div id="sort-expand" class="collapse collapse-remember">
					<div class="row mb-2">
						<div class="col-md no-gutters">
							{{ render_field(form.sorting, form_group_classes="col") }}
						</div>
					</div>
				</div>

				{# filters dropdown #}
				<div id="filter-expand" class="collapse collapse-remember">
					<div class="row mb-2">
						<div class="col-md form-row no-gutters">
							{{ render_field(form.include, form_group_classes="col") }}
							{{ render_field(form.include_use_or, form_group_classes="toggle-and-or-col") }}
						</div>
						<div class="col-md form-row no-gutters">
							{{ render_field(form.exclude, form_group_classes="col") }}
							{{ render_field(form.exclude_use_or, form_group_classes="toggle-and-or-col") }}
						</div>
						<div class="col-md">
							<div class="form-row no-gutters">
								<div class="form-group col">
									<label class="form-label">&nbsp;</label>
									<a class="btn btn-outline-secondary form-control form-ht" href="#misc-filters" data-toggle="collapse">More</a>
								</div>
								<div class="form-group col">
									<label class="form-label">&nbsp;</label>
									<a class="btn btn-outline-danger form-control form-ht" href="/">Clear</a>
									{#<button type="button" onclick="document.location.href='/'" class="close form-control" value=""><i class="fas fa-times"></i><span class="close-btn-txt">Clear</span></button>#}
								</div>
								<div class="form-group col">
									<label class="form-label">&nbsp;</label>
									<input type="submit" name="apply-menu" class="btn btn-success form-control form-ht" value="Apply"></input>
								</div>
							</div>
						</div>
					</div>

					{# Additional fine-grained filters; in single row on full, stacked on mobile #}
					<div id="misc-filters" class="collapse collapse-remember">
						<div class="row mb-2">
							<div class="col-md">
								<div class="form-row">
									{{ render_field(form.name, form_group_classes="col-12 col-md") }}
									{{ render_field(form.style, form_group_classes="col-6 col-md") }}
									{{ render_field(form.glass, form_group_classes="col-6 col-md") }}
									{{ render_field(form.prep, form_group_classes="col-6 col-md") }}
									{{ render_field(form.ice, form_group_classes="col-6 col-md") }}
								</div>
							</div>
						</div>
					</div>
				</div>{# filters #}

			</form>
			{% endblock formdiv %}
		</div>{# Heading and filters col #}
	</div>{# Row containing the controls #}

	{# Recipe column - 2/3 at md-lg, 3/4 at xl #}
	<div class="mt-3">
		{% if recipes %}
		{% for recipe in recipes %}
		{% if loop.index0 % 6 == 0 %}
		<div class="row">
			{% endif %}
			<div class="col-sm-6 col-lg-6 col-xl-4 mb-3">
				{{ recipe | safe }}
			</div>
			{% if loop.index0 % 6 == 5 or loop.last %}
		</div>
		{% endif %}
		{% endfor %}
		{% endif %}
	</div>

	{# Footer #}
	<div class="footer pb-3">
		{% if g.current_bar.prices %}
		$$ amount shown is recommended tip, calculated from cost of ingredients
		{% endif %}
		{% if g.current_bar.prices and g.current_bar.origin %}
		<br>
		{% endif %}
		{% if g.current_bar.origin %}
		* denotes a Schubar original recipe
		{% endif %}
	</div>

</div>{# body container-fluid #}
{% endblock body %}
