{% extends "base.html" %}
{% from "_macros.html" import formheader, render_field %}
{% block title %}{{ super() }} {{ g.current_bar.name }}{% endblock title %}

<!-- Main form -->
{% block body %}
<div class="container-fluid">
	<div class="row">
		<!-- Heading & filters column - 1/3 at md-lg, 1/4 at xl -->
		<div class="col-md-4 col-xl-3">
			{% block formdiv %}
			{{ formheader("Browse Menu", subtitle=g.current_bar.tagline) }}
			<form id="menu-settings" action="" method="post" role="form">

			<div class="row d-md-none">
				<div class="col-auto mr-auto">
					<a class="btn btn-outline-primary mb-3" href="#filters" data-toggle="collapse">Filters</a>
				</div>
				<div class="col-auto">
					<input type="submit" name="suprise-menu" class="btn btn-success" value="Suprise Me"></input>
				</div>
			</div>

			<div id="filters" class="collapse d-md-block" style="margin-bottom:0.75rem">
					{{ form.csrf }}
					<div class="form-group">
						{{ render_field(form.include) }}
						{{ render_field(form.exclude) }}
						{{ render_field(form.sorting) }}
						<a href="#misc-filters" data-toggle="collapse"><h4>Additional Filters</h4></a>
						<div id="misc-filters" class="collapse">
							{{ render_field(form.name) }}
							{{ render_field(form.use_or) }}
							{{ render_field(form.style) }}
							{{ render_field(form.glass) }}
							{{ render_field(form.prep) }}
							{{ render_field(form.ice) }}
						</div><!-- misc-filters -->
					</div><!-- form-group -->

				<div class="row">
					<div class="col-auto mr-auto">
						<input type="submit" name="apply-menu" class="btn btn-success" value="Apply"></input>
					</div>
					<div class="col-auto d-none d-md-block">
						<input type="submit" name="suprise-menu" class="btn btn-success" value="Suprise Me"></input>
					</div>
				</div>

			</div><!-- filters -->
			</form>
			{% endblock formdiv %}
		</div><!-- Heading and filters col -->

		<!-- Recipe column - 2/3 at md-lg, 3/4 at xl -->
		<div class="col-md-8 col-xl-9 mt-3">
		{% if recipes %}
			{% for recipe in recipes %}
			{% if loop.index0 % 6 == 0 %}
			<div class="row">
			{% endif %}
				<div class="col-sm-6 col-lg-6 col-xl-4" style="margin-bottom:0.75rem;">
				{{ recipe | safe }}
				</div><!-- col -->
			{% if loop.index0 % 6 == 5 or loop.last %}
			</div><!-- row -->
			{% endif %}
			{% endfor %}
		{% endif %}
		</div><!-- recipes column -->
	</div><!-- row -->
</div><!-- container -->
{% endblock body %}

<!--</div> row for sidebar+recipes -->

{% block footer %}
{% if g.current_bar.prices %}
$$ amount shown is recommended tip, calculated from cost of ingredients
{% endif %}
{% if g.current_bar.prices and g.current_bar.origin %}
<br>
{% endif %}
{% if g.current_bar.origin %}
* denotes an {{ g.current_bar.name }} original recipe
{% endif %}
{% endblock footer %}
