{# simple template for displaying a result to the user #}
{% extends "form_base.html" %}
{% from "_macros.html" import formheader %}
{% block formblock %}

{{ formheader("OOPS - Something went wrong...") }}
<!-- return to main page -->
<div class="mb-3">
{{ body|safe }}
</div>
<form action="/">
	<div class="row no-gutters">
		<div class="col">
			<input type="submit" class="btn btn-primary" value="Back to Browse"></input>
			<p><br>Just want a drink?</p>
		</div>
		<div class="col">
			<a class="btn btn-danger" href="https://github.com/twschum/mix-mind/issues/" target="_blank" role="button">Submit a Bug Report</a>
			<p><br>Be awesome and submit a bug report describing what happened, with steps to reproduce and what page or action caused the problem.</p>
		</div>
	</div>
</form>
{% endblock formblock %}
