{# template for admin to test and generate menus #}
{% extends "browse.html" %}
{% from "_macros.html" import formheader, render_field %}
{% block formdiv %}
{{ formheader("Menu Generator") }}
<form  id="menu-settings" action="" method="post" role="form">
	{{ form.csrf }}
	<div class="form-group">
		<a href="#display-controls" data-toggle="collapse"><h3>Display Controls</h3></a>
		<div id="display-controls" class="collapse show">
			<dl>
				{{ render_field(form.prices, data_toggle="collapse", data_target="#markup-div") }}
				<div id="markup-div" class="collapse">
					{{ render_field(form.markup) }}
				</div>
				{{ render_field(form.prep_line) }}
				{{ render_field(form.stats) }}
				{{ render_field(form.examples) }}
				{{ render_field(form.info) }}
				{{ render_field(form.origin) }}
				{{ render_field(form.variants) }}
				<label><input data-target="#convert-div" data-toggle="collapse" type="checkbox" value=""> Convert Primary Unit</input></label>
				<div id="convert-div" class="collapse">
					{{ render_field(form.convert) }}
				</div>
			</dl>
		</div>
	</div>

	<div class="form-group">
		<a href="#filtering-parameters" data-toggle="collapse"><h3>Filtering Parameters</h3></a>
		<div id="filtering-parameters" class="collapse">
			<dl>
				{{ render_field(form.all_) }}
				{{ render_field(form.include) }}
				{{ render_field(form.exclude) }}
				{{ render_field(form.use_or) }}
				{{ render_field(form.name) }}
				{{ render_field(form.tag) }}
				{{ render_field(form.style) }}
				{{ render_field(form.glass) }}
				{{ render_field(form.prep) }}
				{{ render_field(form.ice) }}
			</dl>
		</div>
	</div>

	<div class="form-group">
		<a href="#pdf-download" data-toggle="collapse"><h3>PDF Download Options</h3></a>
		<div id="pdf-download" class="collapse">
			<dl>
				{{ render_field(form.ncols) }}
				{{ render_field(form.align) }}
				{{ render_field(form.liquor_list) }}
				{{ render_field(form.liquor_list_own_page) }}
				{{ render_field(form.title) }}
				{{ render_field(form.tagline) }}
				{{ render_field(form.debug) }}
				<input type="submit" class="btn btn-success" target="_blank" name="download-menu" value="Download Custom Menu PDF!" formaction="/download/"></input>
			</dl>
		</div>
	</div>
	<input type="submit" name="apply-menu" class="btn btn-success" value="Apply"></input>
</form>
<!--Show stats block-->
{% if stats %}
<h3>Recipe Statistics</h3>
{{ stats | safe }}
{% endif %}
{% endblock formdiv %}

