{# template for a customer to order a drink #}
{% extends "form_base.html" %}
{% from "_macros.html" import formheader, render_field %}
{% block title %}{{ super() }} - Order{% endblock title %}
{% block formblock %}
{{ formheader(header_text) }}
{% if show_form %}
<form id="order-form" action="" method="post" role="form">
	{{ form.csrf }}
		{{ recipe | safe }}
	<div class="form-group pt-3">
		{% if current_user.is_authenticated %}
		{% else %}
		{{ render_field(form.name) }}
		{{ render_field(form.email) }}
		{% endif %}
		{{ render_field(form.notes) }}
	</div>
<!-- align the buttons -->
<div class="row no-gutters">
	<div class="col-auto mr-auto">
		<input type="submit" form="cancel-nav" class="btn btn-outline-danger" value="Cancel"></input>
	</div>
</form>
<form id="cancel-nav" action="/">
	<div class="col-auto pr-0">
		<input type="submit" name="submit-order" form="order-form" class="btn btn-success" value="Submit Order" {% if g.current_bar.is_closed %}disabled{% endif %}></input>
	</div>
</form>
</div>
<br>
{% endif %}

<!-- return to main page -->
{% if not show_form %}
<div class="row" id="navigation">
	<form action="/">
		<div class="col"> <input type="submit" class="btn btn-primary" value="Back to Browse"></input> </div>
	</form>
</div>
{% endif %}

{% endblock formblock %}

{% block footer %}
{% if g.current_bar.prices or g.current_bar.origin %}
<p>
{% endif %}
{% if g.current_bar.prices %}
$$ amount shown is recommended tip, calculated from cost of ingredients
{% endif %}
{% if g.current_bar.prices or g.current_bar.origin %}
<br>
{% endif %}
{% if g.current_bar.origin %}
* denotes an {{ g.current_bar.name }} original recipe
{% endif %}
{% if g.current_bar.prices or g.current_bar.origin %}
</p>
{% endif %}
{% endblock footer %}
