{% extends "form_base.html" %}
{% from "_macros.html" import formheader, render_field %}
{% block formblock %}

{{ formheader(header_text) }}
{% if show_form %}
<form id="order-form" action="" method="post" role="form">
	{{ form.csrf }}
	<div class="form-group">
		{{ recipe | safe }}
		{% if current_user.is_authenticated %}
		{% else %}
		{{ render_field(form.name) }}
		{{ render_field(form.email) }}
		{% endif %}
		{{ render_field(form.notes) }}
	</div>
<!-- align the buttons -->
<div class="container row">
	<div class="col align-self-start">
	<input type="submit" name="submit-order" form="order-form" class="btn btn-success" value="Submit Order"></input>
	</div>
</form>
<form id="cancel-nav" action="/">
	<div class="col align-self-center">
	<input type="submit" form="cancel-nav" class="btn btn-outline-danger" value="Cancel"></input>
	</div>
</form>
</div>
<br>
{% endif %}

<!-- return to main page -->
{% if not show_form %}
<div class="row" id="navigation">
	<form action="/">
		<div class="col"> <input type="submit" class="btn btn-primary" value="Back to Browse"></input> </div>
	</form>
</div>
{% endif %}

{% endblock formblock %}
