{# template for admin to manage ingredient stock #}
{% extends "dashboard.html" %}
{% from "_macros.html" import show_flashed, render_field %}
{% block dashbody %}

{#<h3>Ingredients Stock for {{ g.current_bar.cname }}</h3>#}
{{ show_flashed() }}

{# TODO info modal that comes up for ingredient and discusses each component thing #}

<h2 class="col-auto">Ingredient Stock for {{ g.current_bar.cname }}</h2>

<form  id="add-ingredient-form" action="" method="post" role="form">
	{{ form.csrf }}
	<a href="#add-ingredient" data-toggle="collapse" class="close" style="float: none;">
		<h3><i class="fas fa-plus"></i>New Ingredient</h3>
	</a>
	<div id="add-ingredient" class="collapse{% if form_open %} show{% endif %}">
		{# TODO form layout #}
		{{ render_field(form.bottle) }}
		{{ render_field(form.category) }}
		{{ render_field(form.type_) }}
		{{ render_field(form.abv) }}
		{{ render_field(form.size) }}
		{{ render_field(form.unit) }}
		{{ render_field(form.price) }}
		<input type="submit" class="btn btn-success" target="_blank" name="add-ingredient" value="Add"></input>
	</div>
</form>

<table id="barstock-table" class="table">
	<thead>
		<tr>
			<th scope="col"></th> {# TODO consider making a "+" button here that opens the new ingredient button #}
			<th scope="col">Category</th>
			<th scope="col">Type</th>
			<th scope="col">Ingredient</th>
			<th scope="col">In Stock</th>
			<th scope="col">ABV</th>
			<th scope="col">Size</th>
			<th scope="col">Size</th>
			<th scope="col">Price</th>
			<th scope="col">$/oz</th>
		</tr>
	</thead>
</table>


{% endblock dashbody %}

{% block scripts %}
<script src="/static/js/ingredient_table.js"></script>
{% endblock scripts %}
