{% extends "base.html" %}

{% block body %}
	<div class="container">
		<h3>{{ current_user.get_name() }} {% if current_user.nickname %}({{ current_user.nickname }}){% endif %}</h3>
		<h5>{{ current_user.email }}</h5>
		<h5><em>{{ current_user.get_role_names() }}</em></h5>
		<h6>Last Login: {{ current_user.current_login_at }}</h6>
		<h6>Login IP: {{ current_user.current_login_ip }}</h6>
		<h4>Order history:</h4>
		<table>
			<tr>
				<th>What</th>
				<th>When</th>
			</tr>
			{% for order in current_user.orders %}
			<tr>
				<td>{{ order.recipe_name }}</td>
				<td>{{ order.timestamp }}</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- container -->
{% endblock body %}
