{# template for user (or admin) to view their profile #}
{% extends "form_base.html" %}
{% from "_macros.html" import show_flashed %}

{# TODO add an "edit self" for name, nickname and VENMO ID #}

{% block formblock %}
<div class="row">
	<h3 class="col-auto mr-auto">{{ current_user.get_name() }} {% if current_user.nickname %}({{ current_user.nickname }}){% endif %}</h3>
	<div class="col-auto">
		<a href="#edit-user-container" data-toggle="collapse" class="btn btn-lg btn-outline-primary">Edit Profile</a>
	</div>
</div>
		{{ show_flashed }}
		<h5>{{ current_user.email }}</h5>
		<h5><em>{{ current_user.get_role_names() }}</em></h5>
		<h6>Last Login: {{ current_user.current_login_at }}</h6>
		<h6>Login IP: {{ current_user.current_login_ip }}</h6>
		<h4>Order history:</h4>
		<table>
			<tr>
				<th>What</th>
				<th>When</th>
				<th>Confirmed</th>
			</tr>
			{% for order in current_user.orders %}
			<tr>
				<td>{{ order.recipe_name }}</td>
				<td>{{ order.timestamp }}</td>
				<td>{{ order.confirmed }}</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- container -->
{% endblock formblock %}
