{# template for user (or admin) to view their profile #}
{% extends "form_base.html" %}
{% from "_macros.html" import show_flashed, render_field %}

{% block formblock %}
<div class="row my-3">
	<h3 class="col-auto mr-auto">{{ this_user.get_name() }} {% if this_user.nickname %}({{ this_user.nickname }}){% endif %}</h3>
	<div class="col-auto">
		<a href="#edit-user-container" data-toggle="collapse" class="btn btn-outline-primary">Edit Profile</a>
	</div>
</div>
{{ show_flashed() }}

<div id="edit-user-container" class="collapse mb-3">
	<form id="edit-user" method="post" role="form">
		{{ edit_user.csrf }}
		{{ render_field(edit_user.first_name) }}
		{{ render_field(edit_user.last_name) }}
		{{ render_field(edit_user.nickname) }}
		{{ render_field(edit_user.venmo_id, prepend={'tag': "img", 'class': "input-group-addon form-ht", 'src': "https://cdn1.venmo.com/marketing/images/branding/venmo-icon.svg"}) }}
		{{ render_field(edit_user.submit) }}
	</form>
</div>

{# TODO collapse this table when editing profile #}
<div class="table-responsive">
	<table class="table">
		<tr>
			<th scope="row">Email</th>
			<td>{{ this_user.email }}</td>
		</tr>
		<tr>
			<th scope="row">Current Login</th>
			<td>{{ human_timestamp(this_user.current_login_at) }}</td>
		</tr>
		<tr>
			<th scope="row">Login IP</th>
			<td>{{ this_user.current_login_ip }}</td>
		</tr>
		<tr>
			<th scope="row">Roles</th>
			<td>{{ this_user.get_role_names() }}</td>
		</tr>
		{% if 'bartender' in this_user.get_role_names() %}
		<tr>
			<th scope="row">Works at</th>
			<td>{{ this_user.get_bar_names() }}</td>
		</tr>
		{% endif %}
		{% if this_user.venmo_id %}
		</tr>
		<th scope="row">Venmo ID</th>
		<td>{{ this_user.venmo_id }}</td>
		</tr>
		{% endif %}
	</table>
</div>


<h5>Order history:</h5>
<div class="table-responsive">
	<table class="table table-sm">
		<tr>
			<th>What</th>
			<th>Where</th>
			<th>When</th>
			<th>Confirmed</th>
		</tr>
		{% for order in this_user.orders %}
		<tr>
			<td>{{ order.recipe_name }}</td>
			<td>{{ order.where() }}</td>
			<td>{{ human_timestamp(order.timestamp) }}</td>
			{% if order.confirmed %}
			<td>{{ human_timediff(order.confirmed) }}</td>
			{% else %}
			<td>&mdash;</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>

{% if 'bartender' in this_user.get_role_names() %}
<h5>Orders served:</h5>
<div class="table-responsive">
	<table class="table table-sm">
		<tr>
			<th>What</th>
			<th>Where</th>
			<th>When</th>
			<th>Confirmed</th>
			<th>Time Elapsed</th>
		</tr>
		{% for order in this_user.orders_served %}
		{% if order.confirmed %}
		<tr>
			<td>{{ order.recipe_name }}</td>
			<td>{{ order.where() }}</td>
			<td>{{ timestamp(order.timestamp) }}</td>
			<td>{{ timestamp(order.confirmed) }}</td>
			<td>{{ order.time_to_confirm() }}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
</div>
{% endif %}
{% endblock formblock %}
